// Imports
@import "variables";

// Bootstrap Overrides
$container-max-widths: (
  xl: 1380px
) !default;

$h1-font-size: 4rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Import Boostrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom SCSS

// ----------
// 0: General Styles
// ----------
* {
  font-family: $header-font;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

p {
  font-family: $body-font;
}

#main {
  background: $black;

  @media (max-width: 720px) {
    margin-top: 56px;
  }

  @media (max-width: 540px) {
  }
}

// Buttons
.btn-mygym {
  color: $black;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381c), to(#cd2d25)), -webkit-gradient(linear, left top, right top, from(#e4381c), color-stop(0%, #cd2d25));
  background-image: -o-linear-gradient(left, #e4381c 100%, #cd2d25 100%), -o-linear-gradient(left, #e4381c 0%, #cd2d25 0%);
  background-image: linear-gradient(to right, #e4381c 100%, #cd2d25 100%), linear-gradient(to right, #e4381c 0%, #cd2d25 0%);
  display: inline-block;
  font-size: 14px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  padding: 0.25rem 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  // height: 46px;
  border-left: 2px solid $primary-colour;
  border-right: 2px solid #e4381c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  line-height: 45px;
  position: relative;
  border-radius: 4px;
  transition-duration: 330ms;
  -webkit-transition-duration: 330ms;
  -o-transition-duration: 330ms;
  z-index: 1;

  &:hover {
    color: #fff;
  }

  &::after {
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    background: #cc4627;
    background: -webkit-gradient(linear, left top, right top, from(#cc4627), to($primary-colour));
    background: -o-linear-gradient(left, #cc4627, $primary-colour);
    background: linear-gradient(to right, #cc4627, $primary-colour);
    //e16521
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 2px;
    opacity: 0;
  }

  &:hover::after {
    color: #fff;
    // background: $primary-colour;
    opacity: 1;
  }

  @media (max-width: 1200px) {
    padding: 0.25rem 1.5rem;
  }
}

// Background Image
.item-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// Shadow
.mygym-shadow {
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  }
}

// Header
@import "components/header";

// Carousel
@import "components/carousel";

// CTA
@import "components/cta";

// About
@import "components/about";

// Features
@import "components/features";

// Options
@import "components/options";
